* {
  color: #fff;
}

body {
  background-color: #1c2024;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: red;
}

a:focus {
  outline: none;
}

h1 {
  width: 100%;
  color: #d0b458; /*文字色*/
  padding: 0.5em 0; /*上下の余白*/
  border-top: double 3px; /*上線*/
  border-color: #d0b458;
}

h2 {
  color: #d0b458; /*文字色*/
  padding: 0.5rem 1rem; /*文字周りの余白*/
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.3; /*行高*/
  background: #421615; /*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px; /*左側の角を丸く*/
  border-top: solid #d0b458;
  border-left: solid #d0b458;
  border-bottom: solid #d0b458 !important;
  text-shadow: 1px 2px 3px #202020;
}

h3 {
  color: #d0b458;
  text-shadow: 1px 2px 3px #202020;
}

pre {
  background-color: #33363a !important;
  border-radius: 0 !important;
}

.nv {
  color: #27bdbd !important;
}

.o {
  color: #fff !important;
}

.c1 {
  color: rgb(36, 166, 36) !important;
}

.k {
  color: mediumorchid !important;
}

.s1,
.s2 {
  color: rgb(207, 111, 16) !important;
}

/* 

赤 #421615 プライマリー
黄 #d0b458 セカンダリー
黒 #1c2024 メイン
灰 #222529 サブ


*/
